# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
android/
ios/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem
.privy-exports/

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo
.vercel

# EAS should use package-lock/npm for this project.
bun.lock
